# Entornos virtuales
venv/
env/
.venv/

# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Archivos de configuración/entorno sensibles
.env

# Archivos estáticos y media generados
staticfiles/
media/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores / IDEs
.vscode/
.idea/

# Logs
*.log
